body {
  margin: 0;
  padding: 0;
}

.custom-icon-button:hover {
  background-color: transparent !important; /* Make background transparent on hover */
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.navcontent{
  font-size: 18px;
  color: white;
  font-family: '"Poppins", sans-serif';

}

.navbar span {
  position: relative; /* Required to position the ::after element relative to the span */
  margin-left: 0vw;
  margin-right: 4vw;
  margin-top: 5vh;
  display: inline-block; /* Ensures proper space handling */
  cursor: pointer;
}

.navbar span::after {
  content: ''; /* Required to create a pseudo-element */
  position: absolute; /* Position it relative to the span */
  left: 0;
  bottom: -2px; /* Adjust as needed to position the underline properly */
  width: 0; /* Initially no underline */
  height: 2px; /* Adjust height as needed */
  background-color: white; /* The color of the underline */
  transition: width 0.3s ease; /* Smooth transition effect */
}

.navbar span:hover::after {
  width: 100%; /* Full width underline on hover */
}



@media screen and (max-width: 740px) {
 .txt1{
  margin-left: 35vw  !important;
  font-size: 35px !important;
  padding-top: 25vh !important;
 }

 .txt2{
  margin-left: 14vw  !important;
  font-size: 35px !important;
 }

 .txt3{
  margin-left: 22vw  !important;
  font-size: 15px !important;
 }

 .txt4{
  margin-left: 28vw  !important;
  font-size: 15px !important;
 }


 .socialIcons{
  margin-left: 34vw !important;
  margin-top: -2vh;
  padding-bottom: 42vh !important;
 }

 .abouttitle{
  margin-left: 33vw  !important;
  font-size: 25px !important;
 }

 .abouttext{

  font-size: 15px !important;
  padding-left: 5vw  !important;
 }

 .cvbutton{
  margin-left: 32vw !important;
 }

 .projecttitle{
  font-size: 25px !important;
  margin-left: 26vw !important;
 }

 .projectcard{
  margin-bottom: 20px;
 }

 .secondList{
  margin-top: 0px !important;
 }

 .contacticons{
  display: flex !important;
  flex-direction: column !important;
  
  margin-left: 30vw !important;
 }

 .posts{
  margin-left: 16vw !important;
  font-size: 25px !important;
 }
 .carousel{
  width: 90vw !important;
  margin-top:3vh !important;
 }
}